<h2>Sign up</h2>

<div class="grid grid-cols-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="col-span-2 w-full md:w-2/3 mx-auto">
      <div class="field mb-5">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>

      <div class="mb-5">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'input' %>
      </div>

      <div class="mb-5">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
      </div>

      <div class="mb-5">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
      </div>

      <div class="actions text-right">
        <%= f.submit "Sign up", class: 'btn' %>
      </div>
    </div>
  <% end %>
</div>
<div class="flex flex-col items-center">
  <%= render "devise/shared/links" %>
</div>
