<div class="p-5 col-span-4 bg-white">
  <a href="<%= user_post_path(@user, post) %>" class="text-gray-700 font-bold"><%= post.title %></a>
  <p class="text-sm py-2"><%= post.text %></p>
  <div class="flex justify-end items-center gap-10 text-xs">
    <div>
      <%= form_with model: Like, url: user_post_likes_url(current_user, post) do |f| %>
        <%= f.submit '❤️', class: 'text-2xl text-red-500' %>
      <% end %>
    </div>
    <div>
      <span class="font-bold text-gray-700"><%= post.likes_count ? post.likes_count : 0 %></span> Likes
    </div>
    <div>
      <span class="font-bold text-gray-700"><%= post.comments_count ? post.comments_count : 0 %></span> Comments
    </div>
  </div>
</div>